<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Isotopologue</title>
</head>
<style>
    
    #divcss5{margin-top: 100px }
    #divcss6{margin-left: -40px;} 
    .btns {
        text-decoration:none;
	background:#2f435e;
	color:#f2f2f2;
	
	padding: 10px 30px 10px 30px;
	font-size:16px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
	border-radius:3px;
	
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;



}
table{ display: inline-table;}
input:disabled{

border: 1px solid #DDD;

background-color: #F5F5F5;

color:#ACA899;

}
th,
td {
      
      height: 40px;
      
    }
</style>
<script type="text/javascript">
    //页面加载的时候,所有的复选框都是未选中的状态
    function checkOrCancelAll(){
    //1.获取checkbo的元素对象
    var chElt=document.getElementById("chElt");
    //2.获取选中状态
    var checkedElt=chElt.checked;
    console.log(checkedElt)
    //3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
    var allCheck=document.getElementsByName("check");
    //4.循环遍历取出每一个复选框中的元素
    //var mySpan=document.getElementById("mySpan");
    if(checkedElt){
    //全选
    for(var i=0;i<allCheck.length;i++){
    //设置复选框的选中状态
    allCheck[i].checked=true;
    }
    //mySpan.innerHTML="取消全选";
    }else{
    //取消全选
    for(var i=0;i<allCheck.length;i++){
    allCheck[i].checked=false;
    }
    //mySpan.innerHTML="全选";
    }
    }
    function asd(){ 
  var reg=document.getElementsByName("check"); 
  flag = true;
    for(var i=0;i<reg.length;i++){
      if(reg[i].checked){
        document.getElementById("submit1").disabled=false; 
        flag=false
      }
    }
    if(flag){
      document.getElementById("submit1").disabled=true; 
    }

  
  } 
    </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
  
  <div class="navbar navbar-default" role="navigation">
    　<div class="navbar-header">
    　    <a href="##" class="navbar-brand">Exomol</a>
    　</div>
                   <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 3 )" width ="80%" color =#987 cb 9 SIZE = 0 >

      <ul class="nav navbar-nav">
           <li ><a href="##">HomePage</a></li>
          <li class="active">
            <a href="##" data-toggle="dropdown" class="dropdown-toggle">Search<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'page1' %}">By line</a></li>
              <li><a href="##">Option1</a></li>
              <li class="disabled"><a href="##">Option2</a></li>
            </ul>
         </li>
         <li><a href="##">Introduction</a></li>
         <li><a href="##">About us</a></li>
         <li><a href="##">Contact</a></li>
      </ul>
  </div>

  <div >

    <p style="font-size: 20px;margin-top:-1.5%;background-color: rgb(151, 192, 204);height:60px; line-height:60px;">
      Line-by-Line Search
     
    </p>
</div>
<div >

  <p style="font-size: 20px;background-color: rgb(209, 218, 219);margin-top:-0.7%;height:60px; line-height:60px;">
    Step2: Select Isotopologue
   
  </p>
</div>
<p style="font-size: 15px;margin-bottom: -6%;margin-left: 10%;">
  Please select at least one Isotopologue you want to query (Click the "+" button to see more information)
     
    </p>

    <div id="divcss5">
       
        </div>  
      


    <HR style= " FILTER: alpha (opacity = 100, finishopacity =0 , style= 3 );margin-top: -2%;" width ="80%" color =#987 cb 9 SIZE = 3 >
    <form action="/post2/" method="post">
        {% csrf_token %}
        <!-- {% for blogpost in rlt|slice:":len"  %}

        
        <label><input type="checkbox" name="check" value = "C2H2">{{blogpost}}</label>
        
        {% endfor %} -->

        
        <table style="width: 300px; margin-left: 10%;" class="table-striped table-hover table-bordered" class="table">

            <thead>
              <tr>
                  <th style="text-align: center;background-color: cornsilk;">Choose All</th>
                  
                </tr>
          </thead>
          <tbody>
            <td><input type="checkbox" id="chElt" onclick="checkOrCancelAll();asd();"/><span id="mySpan">All</span></td>
        </tbody>
            {%if "(12C2)" in rlt %}
            
            <thead>
              <tr>
                <th style="text-align: center;">C2</th>
                
              </tr>
            </thead>
            
            <tbody>
              
              <tr>
               <td><input type="checkbox" name="check" value = "12C2" onclick="asd()"><span style="vertical-align:super;">12</span>C<span style="vertical-align:sub;">2</span></td>
                
              </tr>
              <tr>
              <td><input type="checkbox" name="check" value = "1"onclick="asd()"><span style="vertical-align:super;">12</span>C<span style="vertical-align:super;">13</span>C</td>
            
            </tr>
            <tr>
                <td><input type="checkbox" name="check" value = "2" onclick="asd()"><span style="vertical-align:super;">13</span>C<span style="vertical-align:super;">13</span>C</td>
 
              </tr>

            </tbody>
            {%endif%}
            {%if "C2H2__12C2-1H2" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">C2H2</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "C2H2__12C2-1H2" onclick="asd()">C2H2__12C2-1H2</td>
                
              </tr>
              <tr>
              <td><input type="checkbox" name="check" value = "1" onclick="asd()">Isotopologue1</td>
      
            </tr>
            <tr>
                <td><input type="checkbox" name="check" value = "2" onclick="asd()">Isotopologue2</td>
           
              </tr>

            </tbody>
            {%endif%}
            {%if "aih" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">AlH</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "AI1H" onclick="asd()">AI1H</td>
                
              </tr>
              <tr>
              <td><input type="checkbox" name="check" value = "1" onclick="asd()">Isotopologue1</td>
      
            </tr>
            <tr>
                <td><input type="checkbox" name="check" value = "2" onclick="asd()">Isotopologue2</td>
           
              </tr>

            </tbody>
            {%endif%}
            {%if "NH3" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">NH3</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "14N-1H3" onclick="asd()">14N-1H3</td>
                
              </tr>
              <tr>
              <td><input type="checkbox" name="check" value = "1" onclick="asd()">Isotopologue1</td>
      
            </tr>
            <tr>
                <td><input type="checkbox" name="check" value = "2" onclick="asd()">Isotopologue2</td>
           
              </tr>

            </tbody>
            {%endif%}
            {%if "H3O" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">H3O</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "1H3-16O" onclick="asd()">1H3-16O</td>
                
              </tr>
              <tr>
              <td><input type="checkbox" name="check" value = "1" onclick="asd()">Isotopologue1</td>
      
            </tr>
            <tr>
                <td><input type="checkbox" name="check" value = "2" onclick="asd()">Isotopologue2</td>
           
              </tr>

            </tbody>
            {%endif%}

            {%if "H2O" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">H2O</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "1H2-16O" onclick="asd()">1H2-16O</td>
                
              </tr>
              

            </tbody>
            {%endif%}
            {%if "H2O" in rlt %}

            <thead>
              <tr>
                <th style="text-align: center;">CO2</th>
               
              </tr>
            </thead>
            <tbody>

               <td><input type="checkbox" name="check" value = "12C-16O2" onclick="asd()">12C-16O2</td>
                
              </tr>
              

            </tbody>
            {%endif%}
            
          </table>

           
  <table id="myTable" class="table-striped table-hover table-bordered" class="table" >
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script>
    /** 
     * mock数据
     * btn: 描述该字段用于点击按钮
     * flage: 用于描述该字段会根据按钮的点击显示 隐藏状态会发生改变
     * isShow: 用于决定该字段是否用于渲染
     */
    var header = [

      { value: '+', isShow: true, btn: true },
      { value: 'line conut', isShow: false, flage: true },
      { value: 'v'+'min'.sub()+"(cm"+"-1".sup()+")", isShow: false, flage: true },
      { value: 'v'+'max'.sub()+"(cm"+"-1".sup()+")", isShow: false, flage: true },
      { value: "Abundance", isShow: false, flage: true }
    ]
    var bodys = [
      {
        datas: [
        { value: '', isShow: false ,flage: true, name:"all"},
          { value: '', isShow: false ,flage: true, name:"all"},
          { value: '', isShow: false, flage: true , name:"all"},
          { value: '', isShow: false, flage: true , name:"all"},
          { value: '', isShow: false, flage: true ,name:"all"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true, name:"ds"},
          { value: '', isShow: false ,flage: true, name:"ds"},
          { value: '', isShow: false, flage: true ,name:"ds"},
          { value: '', isShow: false, flage: true ,name:"ds"},
          { value: '', isShow: false, flage: true ,name:"ds"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true, name:"ds"},
          { value: '13840', isShow: false, flage: true ,name:"ds"},
          { value: '0.763158', isShow: false, flage: true ,name:"ds"},
          { value: '39499.13891', isShow: false, flage: true ,name:"ds"},
          { value: '0.97871', isShow: false, flage: true ,name:"ds"},]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true, name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true, name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"},
          { value: '0', isShow: false, flage: true ,name:"ds"}]
      },
      {
        datas: [
        { value: '', isShow: false ,flage: true ,name:"C2H2"},
          { value: '', isShow: false ,flage: true ,name:"C2H2"},
          { value: '', isShow: false, flage: true ,name:"C2H2"},
          { value: '', isShow: false, flage: true ,name:"C2H2"},
          { value: '', isShow: false, flage: true ,name:"C2H2"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"C2H2"},
          { value: '46756', isShow: false, flage: true ,name:"C2H2"},
          { value: '10.29642', isShow: false, flage: true ,name:"C2H2"},
          { value: '9916.742262', isShow: false, flage: true ,name:"C2H2"},
          { value: '0.977599', isShow: false, flage: true ,name:"C2H2"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"},
          { value: '0', isShow: false, flage: true ,name:"C2H2"}]
      }
      ,
      {
        datas: [

{ value: '', isShow: false ,flage: true ,name:"AlH"},
{ value: '', isShow: false, flage: true ,name:"AlH"},
{ value: '', isShow: false, flage: true ,name:"AlH"},
{ value: '', isShow: false, flage: true ,name:"AlH"},
{ value: '', isShow: false, flage: true ,name:"AlH"}]
      },
      {
        datas: [

{ value: '', isShow: false ,flage: true ,name:"AlH"},
{ value: '613', isShow: false, flage: true ,name:"AlH"},
{ value: '11.529100', isShow: false, flage: true ,name:"AlH"},
{ value: '340.639205', isShow: false, flage: true ,name:"AlH"},
{ value: '0.999885', isShow: false, flage: true ,name:"AlH"}]
      },
      {
        datas: [

        { value: '', isShow: false ,flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"},
          { value: '0', isShow: false, flage: true ,name:"AlH"}]
      },
      {
        datas: [

{ value: '', isShow: false ,flage: true ,name:"NH3"},
{ value: '', isShow: false, flage: true ,name:"NH3"},
{ value: '', isShow: false, flage: true ,name:"NH3"},
{ value: '', isShow: false, flage: true ,name:"NH3"},
{ value: '', isShow: false, flage: true ,name:"NH3"}]
      },
      {
        datas: [

        { value: '', isShow: false ,flage: true ,name:"NH3"},
{ value: '447861', isShow: false, flage: true ,name:"NH3"},
{ value: '0.002844', isShow: false, flage: true ,name:"NH3"},
{ value: '7069.913065', isShow: false, flage: true ,name:"NH3"},
{ value: '0.995976', isShow: false, flage: true ,name:"NH3"}]
      },
      {
        datas: [

        { value: '', isShow: false ,flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"},
          { value: '0', isShow: false, flage: true ,name:"NH3"}]
      }
      ,
      {
        datas: [

{ value: '', isShow: false ,flage: true ,name:"H3O"},
{ value: '', isShow: false, flage: true ,name:"H3O"},
{ value: '', isShow: false, flage: true ,name:"H3O"},
{ value: '', isShow: false, flage: true ,name:"H3O"},
{ value: '', isShow: false, flage: true ,name:"H3O"}]
      },
      {
        datas: [

        { value: '', isShow: false ,flage: true ,name:"H3O"},
{ value: '19', isShow: false, flage: true ,name:"H3O"},
{ value: '10.246790', isShow: false, flage: true ,name:"H3O"},
{ value: '3573.623760', isShow: false, flage: true ,name:"H3O"},
{ value: '0.997226', isShow: false, flage: true ,name:"H3O"}]
      },
      {
        datas: [

        { value: '', isShow: false ,flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"},
          { value: '0', isShow: false, flage: true ,name:"H3O"}]
      },
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"H2O"},
          { value: '', isShow: false, flage: true ,name:"H2O"},
          { value: '', isShow: false, flage: true ,name:"H2O"},
          { value: '', isShow: false, flage: true ,name:"H2O"},
          { value: '', isShow: false, flage: true ,name:"H2O"}]
      }
      ,
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"H2O"},
          { value: '2138022', isShow: false, flage: true ,name:"H2O"},
          { value: '0.000471', isShow: false, flage: true ,name:"H2O"},
          { value: '25173.768522', isShow: false, flage: true ,name:"H2O"},
          { value: '0.213', isShow: false, flage: true ,name:"H2O"}]
      }
      ,
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"CO2"},
          { value: '', isShow: false, flage: true ,name:"CO2"},
          { value: '', isShow: false, flage: true ,name:"CO2"},
          { value: '', isShow: false, flage: true ,name:"CO2"},
          { value: '', isShow: false, flage: true ,name:"CO2"}]
      }
      ,
      {
        datas: [

          { value: '', isShow: false ,flage: true ,name:"CO2"},
          { value: '2920520', isShow: false, flage: true ,name:"CO2"},
          { value: '0.000715', isShow: false, flage: true ,name:"CO2"},
          { value: '15248.620695', isShow: false, flage: true ,name:"CO2"},
          { value: '0.213', isShow: false, flage: true ,name:"CO2"}]
      }
      
      
      
    ]
      

    // 初始化定义两段html
    var headerHtml
    var bodysHtml
    var List = "{{ rlt }}";
     
    // 渲染函数
    function renderHtml() {
       
       
      $('#myTable thead').empty()
      $('#myTable tbody').empty()
      headerHtml = $('<tr>')
      // 渲染thead
      header.forEach((v, i) => {
        var tds
        if (v.btn) {
          tds = `<th style="width:50px;text-align:center;background-color: cornsilk;"><a href='javascript:void(0)' class='extend'>${v.value}</a></th>`
        } else {
          if (v.isShow) {
            tds = `<th style="background-color: cornsilk;">${v.value}</th>`
          }
        }
        headerHtml.append(tds)
      })

      // 渲染tbody
      bodys.forEach((v, i) => {
        bodysHtml = $('<tr>')
        v.datas.forEach((item, idx) => {
          var tds
          if (item.name=="ds"&&List.indexOf("(12C2)")!=-1) {
            if (item.isShow) {
              
            tds = `<td>${item.value}</td>`
          }
        }
          else if (item.name=="C2H2"&&List.indexOf("C2H2__12C2-1H2")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else if (item.name=="AlH"&&List.indexOf("aih")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else if (item.name=="NH3"&&List.indexOf("NH3")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else if (item.name=="H3O"&&List.indexOf("H3O")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else if (item.name=="H2O"&&List.indexOf("H2O")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else if (item.name=="CO2"&&List.indexOf("CO2")!=-1) {
            
            if (item.isShow) {
          
              tds = `<td>${item.value}</td>`
            }
          }
          else  {
            if (item.isShow&&item.name=="all") {
            tds = `<td>${item.value}</td>`
            } 
          }
          
          bodysHtml.append(tds)
        })
        $('#myTable tbody').append(bodysHtml)
      })
      $('#myTable thead').append(headerHtml)
    }

    // 执行第一次渲染
    renderHtml()

    // 展开或者收起按钮点击事件
    $('#myTable').on('click', '.extend', function () {
      if ($(this).text() === '-') {
        // 改变header数据
        header = header.map((v, i) => {
          if (v.flage || v.flage === false) {
            v.isShow = false
            return v
          } else if(v.btn){
            v.value = '+'
            return v
          } else {
            return v
          }
        })
        // 改变bodys数据
        bodys = bodys.map((v, i) => {
          v.datas.map((item, idx) => {
            if (item.name=="ds"&&List.indexOf("(12C2)")!=-1) {
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else if(item.name=="C2H2"&&List.indexOf("C2H2__12C2-1H2")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else if(item.name=="AlH"&&List.indexOf("aih")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }

          else if(item.name=="NH3"&&List.indexOf("NH3")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else if(item.name=="H3O"&&List.indexOf("H3O")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else if(item.name=="H2O"&&List.indexOf("H2O")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else if(item.name=="CO2"&&List.indexOf("CO2")!=-1){
            if(item.flage){
       
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          else{
            if(item.flage){
              item.isShow = false
              return item
            } else {
              return item
            }
          }
          }
          )
          return v
        })
      } else {
        // 改变header数据
        header = header.map((v, i) => {
          if (v.flage || v.flage === false) {
            v.isShow = true
            return v
          } else if(v.btn){
            v.value = '-'
            return v
          } else {
            return v
          }
        })
        // 改变bodys数据
        bodys = bodys.map((v, i) => {
          v.datas.map((item, idx) => {
            if (item.name=="ds"&&List.indexOf("(12C2)")!=-1) {
            if(item.flage){
 
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="C2H2"&&List.indexOf("C2H2__12C2-1H2")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="AlH"&&List.indexOf("aih")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="NH3"&&List.indexOf("NH3")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="H3O"&&List.indexOf("H3O")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="H2O"&&List.indexOf("H2O")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else if(item.name=="CO2"&&List.indexOf("CO2")!=-1){
            if(item.flage){
    
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          else{
            if(item.flage){
              item.isShow = true
              return item
            } else {
              return item
            }
          }
          })
          return v
        })
      }
      // 重新渲染
      renderHtml()
    })
  </script>





         <div>
        <input class="btns" type="submit" value="Next" style="margin-bottom: 10%;margin-left: 47%;margin-top: 5%;"id='submit1' disabled>
            </div>
        <div class="footer" ><p style="margin-left: 80%;">version:0.1 created by Yunfan Sun</p></div>
            </form>
       
</body>
</html>