
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>

<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
$(function(){
	$("td").text(function(i,v){
     
        if (parseFloat(v).toString() == "NaN"){
            return v;
        }
		
        else if(v>0){
            
            var v1= Number(v).toString().split(".");
            
            if(Math.round(Number(v)) == Number(v)){
                //alert(1)
                return Number(v);
            }
            else{
                var value=Math.round(parseFloat(Number(v))*100)/100;
                var xsd=value.toString().split(".");
                
                if(xsd.length>1){
                    
                    if(xsd[1].length<6 ){
                        
                    return Number(v).toFixed(5);
                    }
                    else if(xsd[1].length>=6){
                        
                        return Number(v);
                    }
                    
                }
                else{
                    return Number(v);
                }
                return Number(v);
            }

        }
        
	});
});
</script>


<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>



    <form action="/search-post1/" method="post">
        {% csrf_token %}
        <ul>
            <li><a href="{% url 'runoob' %}">Home</a></li>
            </ul>
        <p>greater than</p>

        <input type="text" name="q">
        <p>smaller than</p>
        <input type="text" name="p">
        <input type="submit" value="search">
    </form>

        {%if len < 1000 %}



                <table border="1">
                    <tr>
                        
                        <td>Molecule</td>
                        <td style="font-weight:400; font-size:15px;">I</td>
                        <th style="font-weight:400; font-size:15px;">v (cm<span style="vertical-align:super;">-1</span>) </th>
                        
                        <td>Ierr</td>
                        <th style="font-weight:400; font-size:15px;">S (cm<sup>-1</sup>)/(molec*cm<sup>-2</sup>) </th>
                        <th style="font-weight:400; font-size:15px;">A (s<sup>-1</sup>) </th>
                        <th style="font-weight:400; font-size:15px;">E_f (cm<sup>-1</sup>) </th>
                        <td>V_i</td>
                        <td>V_f</td>
                        <td>Q_i</td>
                        <td>Q_f</td>
                        
                        <td>g_i</td>
                        <td>g_f</td>
                    </tr>
        {% for blogpost in rlt|slice:":len"  %}
          
            <tr>           
                <td>{{ blogpost.M}}</td>
                <td>{{ blogpost.I }} </td>
                <td> {{blogpost.v}}</td>
                <td> {{blogpost.Ierr}}</td>
                
               <td> {{blogpost.S}}</td>
               <td> {{blogpost.A}}</td>
               <td> {{blogpost.E_f}}</td>
               <td> {{blogpost.V_i}}</td>
               <td> {{blogpost.V_f}}</td>
               <td> {{blogpost.Q_i}}</td>
               <td> {{blogpost.Q_f}}</td>
               
               <td> {{blogpost.g_i}}</td>
               <td> {{blogpost.g_f}}</td>
            </tr>
        {% endfor %}
        </table> 
        {%elif len > 100 %}   
        <p>too many sample</p>
        {%else %}
        
        {% endif %}
      


</body>
<script type="text/javascript">
    var cols=13;
    var rows="{{len}}";
    
    let obj = "<p>"+"{{list.1.S}}<p>";
    var htmlstr = "<table border='1px'>";
    
    alert("dasdas");
    <c:forEach items="${list}" var="item" varStatus="status" >

        
        ${item}
    </c:forEach>
    for(i = 1; i <= rows; i++) {

    htmlstr += "<tr>";

    for(j = 0; j <= cols; j++) {
    
    htmlstr += "<td >"  +obj+ "</td>";

    }
    htmlstr+="</tr>";
    }
    htmlstr+="</table>";
    document.write(htmlstr)
</script>
</html>